.title{
    font-weight: bold;
    font-size: 25px;
    line-height: 0.4;
    
    letter-spacing: 1px;
    color:'#4a4a4a'!important;
}
.sub-title{
 
    line-height: 1px;
    font-size: 12px;
    font-weight: bold;
    color:'#4a4a4a';

    &:after{
        content: '';
        border-bottom: 3px solid #387BAA;
        width: 60px;
        display: block;
        padding-top: 20px;
    }
}
.imageTitle{
  
    font-size: 14px;
    font-weight: bold;
}
.borderText{
    border-bottom: 1px solid '#387BAA'!important;

}


.cardHeading{
    padding-left: 20px;
}
@media(max-width:450px){
    .title{
   letter-spacing: 0;
   line-height: 1;
   font-size: 12px;
    }
    .sub-title{
        font-size: 8px;
        line-height: 1;
    }
}